/*-------------
      Fonts 
---------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*-----------------------------
   Utilities or Common Styles 
-------------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.hide{
    display: none;
}
#hide{
    display: none;
}

.section-title {
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
}

.section-description {
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}

/*---------------------
    Header Styles 
-----------------------*/
.header-title {
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 87px 120px 50px;
}
.header .fa-bars{
    display: none;
}
.header .fa-cart-shopping{
    display: none;
}
.nav-bar ul {
    display: flex;
    gap: 34px;
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar li a {
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    text-decoration: none;
}

/*-------------------
   Journey Styles 
---------------------*/
.journey-section {
    display: flex;
    justify-content: space-between;
    gap: 131px;
    margin-left: 120px;
    margin-right: 132px;
}

.journey-details {
    width: 582px;
    height: 270px;
}

.journey-image {
    width: 475px;
    height: 475px;
    background-image: url('../images/Circle\ design.svg');
}

.btn-primary {
    background: #E02C6D;
    border-radius: 41px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 56px 10px 24px;
    border: 1px solid white;
}

.btn-primary i {
    margin-left: 10px;
}

/*-----------------
  Sponsors Styles 
-------------------*/
.sponsors-section {
    margin-top: 70px;
    margin-bottom: 100px;
}

.sponsors {
    width: 1110px;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 165px;
    margin-right: 165px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

/*----------------------------
     collections Styles 
------------------------------*/
.collections-section {
    width: 1047px;
    margin-left: 218px;
    margin-right: 175px;
}

.collections-section .section-title {
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
    text-align: center;
}

.collections-section .more {
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    font-size: 16px;
    text-align: end;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.collection {
    width: 329px;
    padding: 17px 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.collection img {
    width: 100%;
}

.collection .collection-title {
    font-style: normal;
    font-weight: 500;
    color: #18191F
}

.collection .collection-value {
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.collection .collection-description {
    width: 196px;
    height: 61px;
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}

.collection .colletion-ratings {
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
}

.collection-ratings .fa-star {
    color: #FB8200;
}

/*----------------------
    Feature Styles 
------------------------*/
.feature-section {
    width: 1110px;
    margin: 186px 165px 100px;
    display: flex;
    gap: 96px;
    align-items: flex-start;
}

.feature-description .section-title {
    font-size: 38px;
}

.feature-description .btn-primary {
    border-radius: 5px;
    padding: 10px 15px 10px 24px;
}

/*--------------------
   Footer Styles 
----------------------*/
.footer{
    background-color: #0A0826;
}
.footer-details{
    padding: 20px 0px;
}

.footer .footer-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.footer .footer-description {
    color: #D9DBE1;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}
.footer-details .footer-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-right: 50px;
}
.footer-details .footer-icons li{
    list-style: none;
}
.footer-details .footer-icons li a{
    text-decoration: none;
    color: #D9DBE1;
}

/*------------------------
   Meadia Query Styles 
--------------------------*/

/*------------------------
   Mobile Device Styles 
--------------------------*/

@media screen and (max-width:576px){
    .header{
        margin: 0px;
        margin-top: 40px;
       justify-content: space-around;
    }
    .header-title{
        margin: 0px;
        margin-left: 30px;
        font-size: 18px;
    }
   .header .fa-bars{
        display: inline-block;
    }
    .nav-bar{
        display: none;
    }
    .header .fa-cart-shopping{
        display: inline-block;
        margin-left: 20px;
    }
    .journey-section{
        margin: 0px;
        flex-direction: column-reverse;
    }
    .journey-image{
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
    }
    .journey-image img{
        margin-top: 70px;
        width: 100%;
    }
    .journey-details{
        text-align: center;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .section-title{
        font-size: 30px;
    }
    .sponsors{
        margin: 0px;
        flex-wrap: wrap;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .collections-section{
        margin: 0px;
        width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    .collections{
        grid-template-columns: repeat(1, 1fr);
        width: 370px;
    }
    .feature-section{
        margin: 0px;
        flex-direction: column-reverse;
        width: 350px;
        margin-left: auto;
        margin-right: auto ;
        margin-bottom: 20px;
    }
    .feature-description{
        text-align: center;
    }
    .feature-image img{
        width:100%;
    }
}