/*-------------
      Fonts 
---------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*-----------------------------
   Utilities or Common Styles 
-------------------------------*/
body {
    font-family: 'Poppins', sans-serif;
}

.section-title {
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
}

.section-description {
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}

/*---------------------
    Header Styles 
-----------------------*/
.header-title {
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 87px 120px 50px;
}

.nav-bar ul {
    display: flex;
    gap: 34px;
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar li a {
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    text-decoration: none;
}

/*-------------------
   Journey Styles 
---------------------*/
.journey-section {
    display: flex;
    justify-content: space-between;
    gap: 131px;
    margin-left: 120px;
    margin-right: 132px;
}

.journey-details {
    width: 582px;
    height: 270px;
}

.journey-image {
    width: 475px;
    height: 475px;
    background-image: url('../images/Circle\ design.svg');
}

.btn-primary {
    background: #E02C6D;
    border-radius: 41px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 56px 10px 24px;
    border: 1px solid white;
}

.btn-primary i {
    margin-left: 10px;
}

/*-----------------
  Sponsors Styles 
-------------------*/
.sponsors-section {
    margin-top: 70px;
    margin-bottom: 100px;
}

.sponsors {
    width: 1110px;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 165px;
    margin-right: 165px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

/*----------------------------
     collections Styles 
------------------------------*/
.collections-section {
    width: 1047px;
    height: 1662px;
    margin-left: 218px;
    margin-right: 175px;
}

.collections-section .section-title {
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
    text-align: center;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.collection {
    width: 329px;
    padding: 17px 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.collection img {
    width: 100%;
}

.collection .collection-title {
    font-style: normal;
    font-weight: 500;
    color: #18191F
}

.collection .collection-value {
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.collection .collection-description {
    width: 196px;
    height: 61px;
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}

.collection .colletion-ratings {
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
}
.collection-ratings .fa-star{
    color: #FB8200;
}